# Copy this file to ".env" and adjust if needed.

MQTT_BROKER=localhost
MQTT_PORT=1883

MONGO_URI=mongodb://localhost:27017/
MONGO_DB=iot_database

MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=root123
MYSQL_DB=iot_database

NEO4J_URI=bolt://localhost:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=root12345

TEMP_THRESHOLD=35
HUMIDITY_THRESHOLD=70
AIR_QUALITY_THRESHOLD=150
